---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import styles from "./ProjectCard.module.scss";
import { Icon } from "astro-icon/components";

interface Props {
  imagePath: string | null;
  title: string;
  description?: string;
  url: string;
}

const { imagePath, title, description, url } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif}"
);
if (imagePath && !images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`
  );
---

<a href={url} target="_blank" class={styles.projectCard}>
  {
    imagePath && (
      <Image src={images[imagePath]()} alt="Magnify" loading="lazy" />
    )
  }
  <div class={styles.body}>
    <div class={styles.content}>
      <div class={styles.header}>
        <h3 data-sal="slide-right" class="text-3xl lg:text-2xl font-medium mb-0">{title}</h3>
        <span class={styles.icon}><Icon name="mdi:arrow-right" /></span>
      </div>
      {description && <p data-sal="slide-up" data-sal-delay="200" class="text-lg mt-4 lg:text-base lg:mt-2 max-w-sm">{description}</p>}
    </div>
  </div>
</a>
