---
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  skills,
  projects,
  socials,
} from "../consts";
import { Icon } from "astro-icon/components";
import FloatingHead from "../components/FloatingHead.tsx";
import InteractionWrapper from "../components/InteractionWrapper.tsx";
import Card from "../components/Card.astro";
import ProjectCard from "../components/ProjectCard.astro";
import head from "../assets/images/head.png";
import { Image } from "astro:assets";
import ApplicationLayout from "../layouts/ApplicationLayout.astro";

// get years from may 2018 to now (rounded up)
const yearsOfExperience = Math.ceil(
  (new Date().getTime() - new Date(2018, 4, 1).getTime()) /
    1000 /
    60 /
    60 /
    24 /
    365
);
---

<ApplicationLayout>
  <div class="page-container">
    <div class="head-container">
      <FloatingHead text={""} client:load />
    </div>

    <main class="max-w-screen-lg">
      <section
        id="hero-section"
        class="hero-section flex flex-col justify-center"
      >
        <div class="flex flex-col gap-12 lg:flex-row lg:items-center">
          <Image
            src={head}
            alt="Nikola Milić"
            class="static-head"
            id="static-image"
          />
          <div>
            <h1
              class="font-bold text-6xl lg:text-6xl xl:text-7xl mb-2"
              data-sal="slide-left"
              data-sal-delay="300"
            >
              {SITE_TITLE}
            </h1>
            <article
              class="mt-4 max-w-lg"
              data-sal="slide-left"
              data-sal-delay="500"
            >
              <p>{SITE_DESCRIPTION}</p>
            </article>
            <ul class="flex flex-wrap gap-4">
              {
                socials.map((item, index) => (
                  <li data-sal="slide-up" data-sal-delay={index * 100 + 500}>
                    <a
                      class="button"
                      href={item.url}
                      target="_blank"
                      rel="noopener noreferrer">
                      <Icon name={item.icon} class="w-6 h-6" />
                      {item.name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </section>

      <section id="section-skills">
        <h2
          class="section-heading text-4xl lg:text-5xl mb-12 font-semibold"
          data-sal="slide-left"
        >
          Skillset <Icon name="lines" class="w-14 text-secondary" />
        </h2>
        <p data-sal="fade" class="max-w-lg">
          Imam {yearsOfExperience} godina iskustva, u tom vremenu sam stekao razno
          razna znanja i vještine:
        </p>
        <ul
          class="grid grid-cols-2 auto-rows-fr gap-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
        >
          {
            skills.map((skill, index) => (
              <li data-sal="zoom-in" data-sal-delay={index * 50}>
                <InteractionWrapper
                  className="h-full w-full"
                  client:load
                  text={skill.description}>
                  <Card icon={skill.icon} text={skill.name} />
                </InteractionWrapper>
              </li>
            ))
          }
        </ul>
      </section>

      <section id="section-projects">
        <h2
          class="section-heading text-4xl lg:text-5xl mb-12 font-semibold"
          data-sal="slide-left"
        >
          Projekti <Icon name="lines-3" class="w-14 text-secondary" />
        </h2>
        <p data-sal="fade" class="max-w-lg">
          Odradio sam oko 60 projekata, ovo su neki od njih:
        </p>
        <ul class="py-8 grid grid-cols-1 gap-4 projects">
          {
            projects.map(project => (
              <li data-sal="fade">
                <InteractionWrapper
                  className="h-full w-full"
                  client:load
                  text={project.tooltip ? project.tooltip : ""}>
                  <ProjectCard
                    title={project.name}
                    description={project.description}
                    imagePath={
                      project.image
                        ? `/src/assets/images/${project.image}`
                        : null
                    }
                    url={project.url}
                  />
                </InteractionWrapper>
              </li>
            ))
          }
        </ul>
      </section>

      <div class="flex items-center justify-between w-full py-4">
        <p class="text-gray-800 mt-0 mb-0">
          {new Date().getFullYear()} © Nikola Milić
        </p>

        <ul class="flex flex-wrap gap-4">
          {
            socials.map(item => (
              <li data-sal="slide-up">
                <a
                  class="button is-round"
                  href={item.url}
                  target="_blank"
                  rel="noopener noreferrer">
                  <Icon name={item.icon} class="w-6 h-6" />
                </a>
              </li>
            ))
          }
        </ul>

      </div>
    </main>

    <div></div>
  </div>

  <script>
    import sal from "sal.js";
    import "sal.js/dist/sal.css";

    import handleScroll from "../javascript/handleScroll.js";

    handleScroll();
    sal({
      root: null,
      once: true,
    });
  </script>
</ApplicationLayout>
