---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, skills, projects } from "../consts";
import { Icon } from "astro-icon/components";
import FloatingHead from "../components/FloatingHead.tsx";
import Navigation from "../components/Navigation.astro";
import InteractionWrapper from "../components/InteractionWrapper.tsx";
import Card from "../components/Card.astro";
import ProjectCard from "../components/ProjectCard.astro";
import head from "../assets/images/glava.png";
import { Image } from "astro:assets";

// get years from may 2018 to now (rounded up)
const yearsOfExperience = Math.ceil(
  (new Date().getTime() - new Date(2018, 4, 1).getTime()) /
    1000 /
    60 /
    60 /
    24 /
    365
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="page-container">
      <div class="head-container">
        <FloatingHead text={""} client:load />
      </div>

      <main class="max-w-screen-lg">
        <section
          id="hero-section"
          class="hero-section flex flex-col justify-center"
        >
          <div class="flex flex-col gap-12 lg:flex-row lg:items-center">
            <Image
              src={head}
              alt="Nikola Milić"
              class="static-head"
              id="static-image"
            />
            <div>
              <h1
                class="font-bold text-6xl lg:text-6xl xl:text-7xl mb-2"
                data-sal="slide-left"
                data-sal-delay="300"
              >
                {SITE_TITLE}
              </h1>
              <article
                class="mt-4 max-w-lg"
                data-sal="slide-left"
                data-sal-delay="500"
              >
                <p>
                  Frontend developer iz Đakova. {yearsOfExperience} godina iskustva.
                </p>
              </article>
              <ul class="flex flex-wrap gap-4">
                <li data-sal="slide-up" data-sal-delay="700">
                  <a
                    class="button"
                    href="https://www.linkedin.com/in/nikola-mili%C4%87-9736a6167/"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <Icon name="linkedin" class="w-6 h-6" />
                    LinkedIn
                  </a>
                </li>
                <li data-sal="slide-up" data-sal-delay="900">
                  <a
                    class="button"
                    href="https://github.com/nmilic96"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <Icon name="github" class="w-6 h-6" />
                    GitHub
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section id="section-skills">
          <h2
            class="section-heading text-4xl lg:text-5xl mb-12 font-semibold"
            data-sal="slide-left"
          >
            Skillset <Icon name="lines" class="w-14 text-secondary" />
          </h2>
          <p data-sal="fade" class="max-w-lg">Uglavnom radim na Ruby on Rails i React projektima. Tu obično koristim:</p>
          <ul
            class="grid grid-cols-2 auto-rows-fr gap-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
          >
            {
              skills.map((skill, index) => (
                <li data-sal="zoom-in" data-sal-delay={index * 50}>
                  <InteractionWrapper
                    className="h-full w-full"
                    client:load
                    text={skill.description}>
                    <Card icon={skill.icon} text={skill.name} />
                  </InteractionWrapper>
                </li>
              ))
            }
          </ul>
        </section>

        <section id="section-projects">
          <h2
            class="section-heading text-4xl lg:text-5xl mb-12 font-semibold"
            data-sal="slide-left"
          >
            Projekti <Icon name="lines-3" class="w-14 text-secondary" />
          </h2>
          <p data-sal="fade" class="max-w-lg">Ni sam nisam siguran na koliko sam projekata radio, ali je sigurno više od 30, a ovo su neki od njih:</p>
          <ul class="py-8 grid grid-cols-1 gap-4 projects">
            {
              projects.map(project => (
                <li data-sal="fade">
                  <InteractionWrapper
                    className="h-full w-full"
                    client:load
                    text={project.tooltip ? project.tooltip : ""}>
                    <ProjectCard
                      title={project.name}
                      description={project.description}
                      imagePath={
                        project.image
                          ? `/src/assets/images/${project.image}`
                          : null
                      }
                      url={project.url}
                    />
                  </InteractionWrapper>
                </li>
              ))
            }
          </ul>
        </section>
      </main>

      <div></div>
    </div>

    <script>
      import sal from "sal.js";
      import "sal.js/dist/sal.css";

      import handleScroll from "../javascript/handleScroll.js";

      handleScroll();
      sal({
        root: null,
        once: true,
      });
    </script>
  </body>
</html>
