---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Icon } from 'astro-icon/components'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <!--  <Header title={SITE_TITLE} /> -->
    <main>
      <section>
        <h1 class="pt-8 font-bold">{SITE_TITLE}</h1>
        <p>
          {SITE_DESCRIPTION}
        </p>

				<ul class="flex flex-wrap gap-4">
					<li>
						<a class="button" href="https://www.linkedin.com/in/nikola-mili%C4%87-9736a6167/" target="_blank" rel="noopener noreferrer">
							<Icon name="linkedin" class="w-6 h-6" />
							LinkedIn
						</a>
					</li>
					<li>
						<a class="button" href="https://github.com/nmilic96" target="_blank" rel="noopener noreferrer">
							<Icon name="github" class="w-6 h-6" />
							GitHub
						</a>
					</li>
				</ul>

      </section>

      <section>
        <h2 class="text-4xl mb-4">Skills</h2>
				
        <ul class="grid grid-cols-4 auto-rows-fr gap-3">
          <li class="card">
						<Icon name="mdi:language-javascript" class="w-12 h-12" />
            <span class="card__text">Javascript</span>
          </li>
					<li class="card">
						<Icon name="mdi:language-typescript" class="w-12 h-12" />
						<span class="card__text">Typescript</span>
					</li>
          <li class="card">
						<Icon name="mdi:react" class="w-12 h-12" />
            <span class="card__text">React.js</span>
          </li>
          <li class="card">
						<Icon name="mdi:react" class="w-12 h-12" />
            <span class="card__text">React Native</span>
          </li>
          <li class="card">
						<Icon name="mdi:language-ruby-on-rails" class="w-12 h-12" />
            <span class="card__text">Ruby on Rails</span>
          </li>
          <li class="card">
						<Icon name="mdi:language-html5" class="w-12 h-12" />
            <span class="card__text">HTML5</span>
          </li>
          <li class="card">
						<Icon name="mdi:language-css3" class="w-12 h-12" />
            <span class="card__text">CSS3</span>
          </li>
					<li class="card">
						<Icon name="mdi:sass" class="w-12 h-12" />
						<span class="card__text">Sass</span>
					<li class="card">
						<Icon name="mdi:tailwind" class="w-12 h-12" />
						<span class="card__text">Tailwind CSS</span>
					</li>
          <li class="card">
						<Icon name="shopify" class="w-12 h-12" />
            <span class="card__text">Shopify</span>
          </li>
					<li class="card">
						<Icon name="mdi:git" class="w-12 h-12" />
						<span class="card__text">Git</span>
					</li>
        </ul>
      </section>

      <section>
        <h2 class="text-4xl mb-4">Projects</h2>
        <ul class="flex flex-wrap gap-3">
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer"
              >Nikola's Portfolio</a
            >
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer"
              >Nikola's Portfolio</a
            >
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer"
              >Nikola's Portfolio</a
            >
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer"
              >Nikola's Portfolio</a
            >
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer"
              >Nikola's Portfolio</a
            >
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer"
              >Nikola's Portfolio</a
            >
          </li>
        </ul>
      </section>

			<section>
				<h2 class="text-4xl mb-4">A bit more about me</h2>
			</section>
    </main>

    <Footer />
  </body>
</html>
